.progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 50px;
  border: 2px solid rgb(26, 75, 77);
}

.progress-bar .curr-progress {
  height: inherit;
  border-radius: inherit;
}

.progress-bar .transition {
  background-color: rgb(26, 75, 77);

  animation: load 75s linear 0s;
  animation-fill-mode: forwards;
  width: 0%;
}

@keyframes load {
  from { width: 0%; }
  to   { width: 100%; }
}